build/
bondnet/prediction/pretrained/mg/
bondnet/prediction/pretrained/mg/
/hydro_training_gpu_regressor/*/controller_train_hydro.py
dist/
.cache/
*.egg-info/
*ipynb
*.o
*.so
*.pyc
*.pkl
*.pt
*.json
*bson
*.yaml
*.svg
*.sdf
*sh
*.csv
*.tsv
*.pdf
*.log
*.out
.idea
.vscode
*.pytest_cache
.DS_Store
.ipynb_checkpoints
prediction.png
*.wandb
*.txt
latest-run
settings*