build/
dist/

*.json
*bson
*.yaml
*.svg
*.sdf
*png

*.csv
*.tsv
*.pdf
*.log
*.out
*.zip

*.egg-info/
*ipynb
*.o
*.so
*.pyc
*sh


*.pytest_cache
.DS_Store
.ipynb_checkpoints


*.txt
latest-run
settings*
*.wandb
*.pkl
*ckpt
*.pt
.cache/
lightning_logs/
logs_lightning/
*tfevents*

prediction.png


bondnet/scripts/test_best.png
bondnet/dataset/generalized_backup.py
bondnet/model/gated_reaction_network_lightning_backup.py
bondnet/prediction/pretrained/mg/
bondnet/prediction/pretrained/mg/
/hydro_training_gpu_regressor/*/controller_train_hydro.py


.idea
.vscode
